.Login {
    display:flex;
    flex-wrap: nowrap;
    text-align: left;
}

.loginBox {
    background-color: #f2f2f2;
    width: 40%;
    height: 90vh;
    margin: 30px;
}

.otherBox {
    margin: 30px;
}

.loginBox h2 {
    margin: 30px;
}

.otherBox li {
    display: flex;
    font-size: 15px;
}

.otherBox ul {
    line-height: 50px;
    margin-left: 30px;
}

.otherBox li:before {
    content: '✓';
    font-size: 30px;
    color: green;    
}

.input-container {
    margin: 30px;
}

.input-container input[type = text] {
    padding: 6px;
    margin-top: 13px;
    font-size: 17px;
    width: 100%;
}

.input-container input[type = password] {
    padding: 6px;
    margin-top: 13px;
    font-size: 17px;
    width: 100%;
}

.input-container input[type = submit] {
    background-color:yellow; 
    color:#333;
    border: none;
    padding: 15px 32px;
    text-align: center;
    display: flex;
    font-size: 16px;
    margin-top: 30px;
}