.CommentsContainer h2, p {
    display: flex;
    justify-content: center;
    max-width: 500px;
    padding: 5px;
}

.Comments {
    list-style: none;
    width: 100%;
}

.Comment {
    width: 100%;
    float: left;
    background: lightgray;
    margin-bottom: 10px;
}

.newComment {
    width: 100%;
    float: left;
    background: lightgray;
    margin-bottom: 10px;
}

.newComment textarea {
    display: flex;
    justify-content: center;
    width: 90%;
    max-width: 500px;
    margin: 20px;
}

.newComment input[type=text] {
    display: flex;
    justify-content: center;
    margin: 20px;
}

.newComment h3 {
    display: flex;
    margin: 20px;
}

.newComment button {
    float: left;
    margin: 20px;
    padding: 10px 20px;
    border: none;
    background-color: yellow;
}