.productItem {
    background-color: white;
    display: float;
    float: left;
    max-width: 300px;
    margin-top: 20px;   
    position: relative;
  }
  
 .productItem ul > li {  
     justify-self: left;   
     float: none;
     list-style-type: none;
     font-size: 12px;
    color: #333;
    padding: 5px 10px;
    text-align: left;
}

.BoxLink {
    position:absolute; 
    width:100%;
    height:100%;
    top:0;
    left: 0;
    z-index: 1;
}

.productItem ul > li:nth-child(1) {
    justify-self: left;
    color:#f54242;
    font-size: 24px;
    font-weight: bold;
}
.productItem ul > li:nth-child(2) {
    font-size: 15px;
}

.productItem img {
    width: 260px;
    height: 260px;
}