.Categories {
    background-color: white;
    border-style: ridge;    
    border-color: rgb(150, 148, 148);  
    border-width: 1px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  
  }

 .Categories li {
    font-size: 16px;
    float: center;
    color: rgb(150, 148, 148);
    padding: 0px 15px;
  }
  
