.Categories ul {
    background-color: white;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border-style: solid;
    border-color: #333;
  }
 .Categories li {
     font-size: 18px;
    float:left;
    display: block;
    color: #333;
    text-align: center;
     padding: 14px 16px;
    text-decoration: none;
  }
  