.Categories {
    background-color: white;
    border-style: solid;    
    border-color: #333;  
    border-width: 1px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

 .Categories li {
    font-size: 18px;
    float: center;
    color: #333;
    padding: 14px 16px;
  }
  
